button {
    background-color: #00ff22;
    color: #1895bb;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#acce {
    background-repeat: url("7305169-uhd_4096_2160_25fps.mp4");
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* Pour éviter le défilement */
}

/* Vidéo en background */
#bg-video {
    position: fixed;
    /* Fixé pour qu'elle reste en arrière-plan */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* Pour remplir l'écran sans déformation */
    z-index: -1;
    /* Derrière tous les autres éléments */
}

/* Style pour la navigation */
nav {
    position: relative;
    z-index: 1;
    /* Devant la vidéo */
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.icons {
    width: 50px;
    /* Taille des icônes */
    height: auto;
}

a{
    text-decoration: none;
}

